body{
	font-family: Helvetica;
	line-height: 150%;
}

#header{
/*	background-color: black;
	padding: 20px;*/
	text-align: center;
	display: inline-block;
	width: 100%;
	background-color: #073462;
}

h1{
	color: white;
	font-family: montserrat;
	font-weight: normal;
}

h2{
	color: gray;
	font-family:arial;
}

#top-bar{
	background-color: white;
	overflow: auto;
}

.top-bar-item{
	padding: 10px;
	float: left;
}

#page-content{
	width: 100%;
	max-width: 14in;
	height: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.content-holder{
	padding:20px;
}

.section-title{
	font-size: 30px;
	margin-bottom:10px;
	border-bottom:1px solid gray;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding-bottom: 8px;
	font-weight: bold;
}

.sub-section-title{
	font-size: 22px;
	margin-bottom:5px;
}

.aside-title{
	font-size: 20px;
	margin-bottom:5px;
	color: gray;
}

.regular-link{
	text-decoration: none;
	color: #0b59a9;
}

.regular-link:hover{
	text-decoration: none;
	color: blue;
}

.sub-sub-section-title{
	font-size: 20px;
	margin-bottom:5px;
}

#question-holder{
    float: right;
    width: 31%;
    box-shadow: 1px 1px 4px 0px #888888;
    border-radius: 5px;
    margin-top: 90px;
    padding: 10px;
    background-color: black;
    padding: 5px;
}

#course-info-holder{
	float: left;
	width: 60%;
}

.link-button{
	padding:10px;
	text-decoration: none;
	box-shadow: 1px 1px 4px 0px #888888;
    border-radius: 5px;
    margin-left: 35px;
}

.page-group{
	overflow: hidden;
	padding: 5px;
}

#links_holder{
}

#links{
	display: inline-block;
	margin-top: 30px;
}

#office-hour-table{
	width: 100%;
}

.OH-table-row{
	width: 50%
}

.left-row{
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

.right-row{
	padding-left: 10px;
}

.event{
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 30px;
}

.event-left-part{
	width: 30%;
	float: left;
}

.event-right-part{
	width: 70%;
	float: right;
}

.bio-container{
	display: inline-block;
	margin-bottom: 30px;
}

.image-container{
	width: 200px;
	height: 200px;
    box-shadow: 1px 1px 4px 0px #888888;
    border-radius: 5px;
    float: left;
    padding: 8px;
}

.bio-text{
	width: calc(100% - 260px);
	float: right;
	padding:10px;
}

#question-text{
    text-align: center;
    color: #4f4d4d;
    font-size: 30px;
    margin-top: -90px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    line-height: 30px;
}

#syllabus-title{
	text-align: left;
}

#header-image{
	width: 50%;
	height: auto;
}

#question-image{
	width: 100%;
	height:auto;
}

.bio-image{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.topbar-button{
	font-family: montserrat;
	font-size: 20px;
	background-color: transparent;
	color: black;
	border: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.topbar-button:hover{
	color: gray;
	cursor: pointer;
}